<br><br>

<h2 style="text-align: center"> Student Team Projects </h2>

<br><br>
<hr style="width:100%">
<br>


<div class="row">
      <div class="col-md-6">
          <img src="/uploads/images/guide-teaching.jpeg" height="400">
      </div>
      <div class="col-md-6">
      <h6> GUIDE TO ONLINE TEACHING </h6>
      <br>
      <p style="color:grey; font-size: 20px">
        At PARC, we believe that no student should be left behind and want  everyone to have equal access to quality education and teaching.  We must help equip teachers with the necessary tools they need to survive  and thrive in this new, online world that will help them teach their  students better.
        <br><br>
        To help with this transition, the PARC Student Team has curated a  course that has video tutorials, PDF documents on a plethora of useful  online tools, such as Search Engines, Google Services, and video  conferencing solutions. This course is self-paced and is provided free of cost to all.
      </p>
      </div>
  </div>

  <br><br>
  <hr style="width:100%">
  <br><br>

  <div class="row">
        <div class="col-md-6">
        <h6> FEEDING PILANI </h6>
        <br>
        <p style="color:grey; font-size: 20px">
          One of the team’s first projects, this project aimed at distributing surplus cooked food from hostel messes and restaurants on campus to the underprivileged and needy. The initiative was a resounding success, and it sowed the seeds of what came to be a highly productive and compassionate student group.
          <br><br>
          PARC is now looking to scale up the process and developing a more holistic solution aimed at zero wastage.
        </p>
        </div>
        <div class="col-md-6">
            <img src="/uploads/images/feeding-pilani.jpg" height="300">
        </div>
    </div>

    <br><br>
    <hr style="width:100%">
    <br><br>

    <div class="row">
          <div class="col-md-6">
              <img src="/uploads/images/Prayogshala.jpg" height="300">
          </div>
          <div class="col-md-6">
          <h6> PRAYOGSHALA </h6>
          <br>
          <p style="color:grey; font-size: 20px">
            Prayogshala encourages scientific temperament among children by providing an all-round, comprehensive, and interactive learning experience that will make them question the ‘why’ of things. The curriculum is offered entirely free-of-cost and conducted at the PARC building. The classes and projects empower children by providing them with an opportunity to access quality education and thus, empower themselves.
          </p>
          </div>
      </div>

      <br><br>
      <hr style="width:100%">
      <br><br>

      <div class="row">
            <div class="col-md-6">
            <h6> WASTE MANAGEMENT AND PLASTIC BAN </h6>
            <br>
            <p style="color:grey; font-size: 20px">
            The student team has made inroads to tackle a universal problem- managing waste efficiently and subsequently turning it into something useful. The team identified unnecessary use of plastic utensils on the Pilani campus, one of the primary hindrances to waste management, and offered wooden and paper replacements. The institute recognized the need for change and swiftly carried out the proposed measures. The waste management team continues to strive to make their surroundings completely waste-free and, subsequently, self-sustaining.
            </p>
            </div>
            <div class="col-md-6">
                <img src="/uploads/images/waste-management.jpg" height="300">
            </div>
        </div>

        <br><br>
        <hr style="width:100%">
        <br><br>

        <div class="row">
              <div class="col-md-6">
                  <img src="/uploads/images/plantation-drive.png" height="300">
              </div>
              <div class="col-md-6">
              <h6> PLANTATION DRIVE </h6>
              <br>
              <p style="color:grey; font-size: 20px">
                In collaboration with Team BITS at the Shell-Eco marathon, PARC proposed the planting of 100 fruit-bearing trees in Pilani. The student team, along with the Krishi Vigyan Kendra in Churu, identified a local farmer and entrusted him with the responsibility of planting 50 trees and the remaining were placed under the care of the Krishi Vigyan Kendra. The income generated from these trees would be used to fund other profitable ventures with the aim of making Pilani’s farmers self-sufficient.
              </p>
              </div>
          </div>

        <br><br>
