<br><br>

<h1> Volunteers </h1>

<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="/uploads/images/Pierre-Person.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Pierre Person</p>
  </div>
</div>

<br>
<br>

<div class="card" style="width: 18rem;">
  <img src="/uploads/images/Greta-Thunberg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Greta Thunberg</p>
  </div>
</div>

<br>
<br>
